<section class="modal">
    <div class="modal__content">
        <header class="modal__content__header">
            <h2>{{ formData.title }}</h2>
            <atom-icon (click)="close()" [iconName]="icon_close" [classIcon]="'primary__closeForm'"></atom-icon>
        </header>
        <section class="modal__content__body">
            <form class="modal__content__body__form" [formGroup]="form">
                <section class="modal__content__body__form__sectionGeneral">
                    <p>Nombre</p>
                    <input type="text" formControlName="nombre" placeholder="{{ formData.placeholderName }}" class="modal__content__body__form__sectionGeneral__input">
                    <p *ngIf="form.get('nombre')?.errors" class="modal__content__body__form__sectionGeneral__error">{{ getErrorMessage('nombre') }}</p>
                </section>
                <section class="modal__content__body__form__sectionGeneral">
                    <p>Descripción</p>
                    <input type="text" formControlName="descripcion" placeholder="{{ formData.placeholderDescription }}" class="modal__content__body__form__sectionGeneral__input">
                    <p *ngIf="form.get('descripcion')?.errors" class="modal__content__body__form__sectionGeneral__error">{{ getErrorMessage('descripcion') }}</p>
                </section>
                <section *ngIf="formData.isSelectCapacity || formData.isSelectBootcamp" class="modal__content__body__form__section">
                    <p>{{ formData.selectName }}</p>
                    <div *ngIf="selectedOptions.length > 0" class="modal__content__body__form__section__list">
                        <div class="modal__content__body__form__section__list__item" *ngFor="let item of selectedOptions">
                            <p>{{ item.name }}</p>
                            <atom-icon [iconName]="icon_close" [classIcon]="'tertiary'" (click)="removeItem(item)"></atom-icon>
                        </div>
                    </div>
                    <div class="modal__content__body__form__section__select">
                        <input *ngIf="!showSelect" placeholder="{{formData.placeholderSelect}}" disabled class="poppins-regular modal__content__body__form__section__select__input">
                        <select *ngIf="showSelect" class="poppins-regular modal__content__body__form__section__select__input" (change)="onSelectionChange($event)">
                            <option class="poppins-regular" *ngFor="let option of formData.options" [value]="option.id">{{ option.name }}</option>
                        </select>
                        <molecule-button-icon class="modal__content__body__form__section__select__button" [icon]="icon_add" [classIcon]="'secondary'" (click)="toggleInputSelect()"></molecule-button-icon>
                    </div>  
                    <p *ngIf="isIncorrectSize !== 'valid'" class="modal__content__body__form__section__error">
                        {{ isIncorrectSize }}
                    </p>
                </section>
            </form>
        </section>
        <footer class="modal__content__footer">
            <atom-button [disabled]="this.isDisabled" [primary]="true" [text]="'Crear'" (click)="submitForm()"></atom-button>
        </footer>
    </div>
</section>