@import 'src/assets/styles/variables.scss';

.icon{
    cursor: pointer;
    &--primary{
        font-size: $font-size-small; 
        &-rotate {
            color: $primary-color;
            transform: rotate(90deg);
        }
        &-basic{
            color: $primary-color;
        }
    }
    &--secondary {
        font-size: 24px;
        font-weight: 200;
        &:hover {
            color: $primary-color;
        }
    }
}