@import 'src/assets/styles/variables.scss';

.icon{
    cursor: pointer;
    &__primary{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        color: $primary-color;
        fill: $primary-color;
        &--closeForm{
            width: 30px;
            fill: $primary-color;
        }
    }
    &__secondary {
        width: 20px;
        height: 20px;
    }
    &__tertiary{
        width: 16px;
        fill: rgb(49, 49, 49);
    }
}