<section class="filter">
  <article class="filter__dropdown">
    <button class="poppins-regular filter__dropdown__button" type="button">
      {{ initialDropdownText }}
      <atom-icon class="filter__dropdown__icon" [iconName]="icon_down_arrow" [classIcon]="'primary'"></atom-icon>
    </button>
    <div class="poppins-regular filter__dropdown__content">
      <p *ngFor="let option of optionsPagination"class="filter__dropdown__content__param" (click)="updateButtonText(option)">
        {{ option }}
      </p>
    </div>
  </article>
  <article>
    <button class="poppins-regular filter__button" (click)="updateButtonIcon()">
      AZ
      <atom-icon class="filter__dropdown__icon" [iconName]="icon_arrows" [classIcon]="'primary'"></atom-icon>
    </button>
  </article>
</section>