@import 'src/assets/styles/variables.scss';


.list {
    list-style: none;
    display: flex;
    background-color: $secondary-color;
    color: $primary-color;
    text-align: center;
    font-size: $font-size-small;
    height: 60px;
    width: 400px;
    border-bottom: 1px solid $primary-color;
    gap: 1px;

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 133px;

        &--active {
            font-weight: 700;
            box-shadow: inset 0 -13px 10px -10px $primary-color;
            cursor: pointer;
            &::after {
                content: '';
                bottom: -1px;
                position: absolute;
                left: 0;
                width: 100%;
                height: 5px;
                background: $primary-color;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }

        &:hover {
            font-weight: 700;
            box-shadow: inset 0 -13px 10px -10px $primary-color;
            cursor: pointer;
            &::after {
                content: '';
                bottom: -1px;
                position: absolute;
                left: 0;
                width: 100%;
                height: 5px;
                background: $primary-color;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }
    }
}