<template-home>
    <section *ngIf="bootcamp" class="section">
        <h1 class="poppins-semibold section__title">{{ bootcamp.name }}</h1>
        <p class="poppins-regular section__description">{{ bootcamp.description }}</p>
        <h3 class="poppins-semibold section__subtitle">Capacidades:</h3> <!--Organizar las prioridades de las etiquetas-->
        <section class="section__information">
            <ul class="poppins-regular section__information__list"> <!--Organizar estos ul y li-->
                <li class="poppins-semibold section__information__list__capacity" *ngFor="let cap of bootcamp.capacities">{{ cap.name }}
                    <ul class="poppins-regular section__information__listTech">
                        <p class="section__information__listTech__tech" *ngFor="let tech of cap.technologies">{{ tech.name }}</p>
                    </ul>
                </li>
            </ul>
        </section>
    </section>

    <ng-container *ngIf="isModalFormOpen">
        <organism-modal-form (formSubmit)="onFormSubmit($event)" (closeModal)="isModalFormOpen = false" [formData]="formData"></organism-modal-form>
    </ng-container>

    <ng-container *ngIf="isModalStatusOpen">
        <molecule-status-modal (closeModal)="onCloseStatusModal()" [status]="this.status"></molecule-status-modal>
    </ng-container>
</template-home>
