@import 'src/assets/styles/variables.scss';

.option{
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content:start;
    padding: 0 24%;
    height: 51px;
    border-radius: 11px;
    font-size: 21px;
    color: $primary-color;
    gap: 16px;
    &:hover{
        background-color: rgba(231, 132, 61, 0.129);
        font-weight: 700;
    }
    &--active{
        background-color: rgba(231, 131, 61, 0.4);
        font-weight: 700;
    }
}