<template-home>
    <section *ngIf="capacity" class="section">
        <h1 class="poppins-semibold section__title">{{ capacity.name }}</h1>
        <p class="poppins-regular section__description">{{ capacity.description }}</p>
        <h3 class="poppins-semibold section__subtitle">Tecnologías:</h3>
        <ul class="poppins-regular section__list">
          <li class="section__list__item" *ngFor="let tech of capacity.technologies">{{ tech.name }}</li>
        </ul>
    </section>

    <molecule-auth-modal></molecule-auth-modal>
</template-home>
