<template-home>
    <ng-container *ngIf="(bootcamps.length > 0) && (totalPages > 0)">
        <header class="filter">
            <molecule-filter class="filter__dropdown" 
            [optionsOrderBy]="optionsOrderBy" 
            [initialPageSize]="initialPageSize"
            [initialOrderBy]="initialOrderBy"
            [initialAscending]="initialAscending"
            (sizeChange)="onSizeChange($event)" 
            (orderByChange)="onOrderByChange($event)"  
            (ascendingChange)="onAscendingChange($event)">
            </molecule-filter>
        </header>
    </ng-container>
    
    <ng-container *ngIf="(bootcamps.length === 0) && (totalPages === 0)">
        <p class="text title">Crea un bootcamp</p>
        <molecule-button-icon class="button add-button" [icon]="icon_add" [text]="'Crear'" [classButton]="'primary'" [classIcon]="'secondary'" (click)='openCreateModal()'></molecule-button-icon>
    </ng-container>

    <ng-container *ngIf="(bootcamps.length > 0) && (totalPages > 0)">
        <section class="information">
            <article *ngFor="let boot of (data$ | async)?.content" class="information__back">
                <molecule-info-back 
                [text]="boot.name"
                [itemsCount]="boot.capacities.length"
                [icon]="icon_arrow" 
                (navigateSection)="onNavigateToDetail(boot.id)"
                (navigateButton)="onNavigateToVersion(boot.id)">
                </molecule-info-back>
            </article>
        </section>

        <section class="add-button">
            <molecule-button-icon [icon]="icon_add" [text]="'Crear'" [classButton]="'primary'" [classIcon]="'secondary'" (click)='openCreateModal()'></molecule-button-icon>
        </section>

        <footer class="pagination" *ngIf="totalPages > 1">
            <molecule-pagination [currentPage]="currentPage" [totalPages]="totalPages" (pageChange)="onPageChange($event)"></molecule-pagination>
        </footer>
    </ng-container>

    <ng-container *ngIf="isModalFormOpen">
        <organism-modal-form (formSubmit)="onFormSubmit($event)" (closeModal)="isModalFormOpen = false" [formData]="formData"></organism-modal-form>
    </ng-container>

    <ng-container *ngIf="isModalStatusOpen">
        <molecule-status-modal (closeModal)="onCloseStatusModal()" [status]="this.status"></molecule-status-modal>
    </ng-container>

</template-home>
