.navbar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 8%;
    width: 100%;
    height: 70px;
    border-radius: 0px 0px 24px 0px;
    background-color:#f0ac74;
}
.img{
    width: 3.125rem;
    height: 3.125rem;
}