<template-home>
    <header class="filter">
        <molecule-filter class="filter__dropdown" (sizeChange)="onSizeChange($event)" (ascendingChange)="onAscendingChange($event)">
        </molecule-filter>
    </header>
    
    <!-- Comentado temporalmente, para uso futuro
    <section>
        <h1>Crea una tecnología</h1>
        <molecule-button-icon class="button" [icon]="icon_add" [text]="'Crear'" [classIcon]="'secondary'"></molecule-button-icon>
    </section>
    -->

    <section class="information">
        <article *ngFor="let tech of (data$ | async)?.content" class="information__back">
            <molecule-info-back [text]="tech.name" [description]="tech.description"></molecule-info-back>
        </article>
    </section>
    
    <section class="add-button">
        <molecule-button-icon [icon]="icon_add" [text]="'Crear'" [classButton]="'primary'" [classIcon]="'secondary'" (click)="openCreateModal()"></molecule-button-icon>
    </section>

    <footer class="pagination" *ngIf="totalPages > 1">
        <molecule-pagination [currentPage]="currentPage" [totalPages]="totalPages" (pageChange)="onPageChange($event)"></molecule-pagination>
    </footer>
</template-home>