$primary-color: rgba(231, 131, 61, 1);
$secondary-color: white;
$tertiary-color: rgba(253, 241, 233, 1);
$font-size-small: 16px;
/*-24px   1  - Icon.component*/ 
/*-14px   3  - filter.component*/ 
/*-26px   1  - info-back.component*/ 
/*-21px    1  - option-aside.component*/